<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Scare Off.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBFAD4271D9B678F00C0705F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBFAD4471D9B678F00C0705F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBFAD4521D9B678F00C0705F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
